
///////INDEX/////

@media (max-width: 991.98px) { 

    span{
        display: none;
    }
    .redes{
        display: none;
    }
      
    
    .banner{
        
        height: 90vh;
        
        &__contenedor{
    
           
           
           

            &__parr{
    
                font-size: 70px;
            }     
        }
    }

    .scroll{
    
       display: flex;
       flex-direction: column;
       align-items: center;
      
       
        

       &__contenedor{
       
       width: 70%;
       

        &__a{

            &__h2{

             
             font-size: 60px;
             
            }

        }

        &__p{

            font-size: 18px;
        }
       
        }

        .img-fluid{
            width: 100%;
            height: 100%;
        }

       
    }

    .scroll--mod{
    
        display: flex;
        flex-direction: column;
      
        margin-top: 5px;
        align-items: center;
    
        .img-fluid{
            
            width: 100%;
            
        }

       
        .maps{
            display: none;
        }

        
    }

    /////////////////////MENU////////////////////

    


}

@media (max-width: 767.98px) { 

    span{
        display: none;
    }
    
    .banner{
        
        height: 80vh;
        
        &__contenedor{
            
            &__parr{
    
                font-size: 65px;
                
            }     
        }
    }

    .scroll{

        

       &__contenedor{
       
        width: 70%;

        &__a{

            &__h2{

            
             font-size: 60px;
             letter-spacing: 5px;
            }

        }

        &__p{

            font-size: 18px;
        }
       
        }

        .img-fluid{
            width: 100%;
            height: 100%;
        }

    }

    .scroll--mod{
    
        display: flex;
        flex-direction: column;
        background-color: #f4dfbad8;
        margin-top: 5px;
        align-items: center;
    
        .img-fluid{
            
            width: 100%;
            height: 100%;
        }

       

        .maps{
            display: none;
        }
    }
    
    .footer{

        &__ul{
    
            display: none;
        }

    }

}

@media (max-width: 576px) { 

    span{
        display: none;
    }
    
    .header{
        
        
        &__contenedor{
            
           padding-left: 0px;
    
           
        }  
    }

    .redes{
        display: none;
    }
   
    
    .banner{
        
        height: 70vh;
        
        &__contenedor{
    
           
            padding-top: 150px;
            letter-spacing: 2px;
            gap: px;

            &__parr{
    
                font-size: 55px;
                font-family:'Great Vibes', cursive;
                
            }     
        }
    }

    .scroll{
    
       display: flex;
       flex-direction: column;
       width: 100%;
       align-items: center;
       
        

       &__contenedor{
       
        width: 100%;

        &__a{

            &__h2{

             font-family: 'Great Vibes', cursive;
             font-size: 55px;
             
            }

        }

        &__p{

            font-size: 18px;
        }
       
        }

        .img-fluid{
            width: 100%;
            height: 100%;
        }

       
    
    }

    .scroll--mod{
    
        display: flex;
        flex-direction: column;
        background-color: #f4dfbad8;
        margin-top: 5px;
        align-items: center;
    
        .img-fluid{
            
            width: 100%;
            height: 100%;
        }

        

        .maps{
            display: none;
        }
    }


    
    .footer{

        &__ul{
    
            display: none;
        }
    
    
    
    }


}

@media (max-width: 411px) { 

   
   
    .banner{
        
        height: 70vh;
        
        &__contenedor{
    
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            align-items: flex-start;
            padding-top: 150px;
            letter-spacing: 2px;
            gap: px;

            &__parr{
    
                font-size: 55px;
                font-family:'Great Vibes', cursive;
                
            }     
        }
    }

    .scroll{
    
       display: flex;
       flex-direction: column;
       width: 100%;
       align-items: center;
       
        

       &__contenedor{
       
        width: 100%;

        &__a{

            &__h2{

             font-family: 'Great Vibes', cursive;
             font-size: 55px;
             
            }

        }

        &__p{

            font-size: 18px;
        }
       
        }

        .img-fluid{
            width: 100%;
            height: 100%;
        }

       
    
    }

    .scroll--mod{
    
        display: flex;
        flex-direction: column;
      
        margin-top: 5px;
        align-items: center;
    
        .img-fluid{
            
            width: 100%;
            height: 100%;
        }

        

        .maps{
            display: none;
        }
    }


    
    .footer{

        &__ul{
    
            display: none;
        }
    
    
    
    }


}


/////MENU////////


@media (max-width: 999px) { 

    .headerMenu{

        height: 70vh;
    }

    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{

   
       
         &__contenedor{

            padding-bottom: 40px;
            flex-direction: column;
            width: 100%;
            
            

            &__div{
                gap: 15px;
                width: 100%;
                height: 40vh;
                
            }
             
             p{
                 text-align: center;
               
                 padding-left: 80px;
                 padding-right: 80px;
                 font-size:19px;
                
                }
        }
         
     }
     
     .menuDer{

        

         &__contenedor{

            padding-bottom: 40px;
            flex-direction: column;
            width: 100%;
            

            &__div{
                gap: 15px;
                width: 100%;
                height: 40vh;
                
            }
     
             
             p{
                 text-align: center;
                 font-size: 19px;
                 padding-left: 80px;
                 padding-right: 80px;
                }
            
         }
     }

}

@media (max-width: 823px) { 

    
    .headerMenu{

        height: 50vh;
    }

    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{
       
         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;
            
            &__div{
                gap: 10px;
            }
             
             p{
                 text-align: center;
                 padding-left: 60px;
                 padding-right: 60px;
                 font-size:15px;
                
                }
        }
         
     }
     
     .menuDer{

         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;
            
            &__div{
                gap: 10px;
            }
             
             p{
                 text-align: center;
                 font-size: 16px;
                 padding-left: 60px;
                 padding-right: 60px;
                }
            
         }
     }

}

@media (max-width: 755px) { 
   

    .headerMenu{

        height: 30vh;
    }

    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{
       
         &__contenedor{

            padding-bottom: 60px;
            flex-direction: column;
             
             p{
                 text-align: center;
                 padding-left: 60px;
                 padding-right: 60px;
                 font-size:15px;
                
                }
        }
         
     }
     
     .menuDer{

         &__contenedor{

            padding-bottom: 60px;
            flex-direction: column;
             
             p{
                 text-align: center;
                 font-size: 13px;
                 padding-left: 60px;
                 padding-right: 60px;
                }
            
         }
     }

}

@media (max-width: 633px) { 
   
    
    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{
       
         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;

            &__div{
                gap: 5px;
            }
             
             p{
                 text-align: center;
                 padding-left: 30px;
                 padding-right: 30px;
                 font-size:13px;
                 
                
                }
        }
         
     }
     
     .menuDer{

         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;

            &__div{
                gap: 5px;
            }
     
             
             p{
                 text-align: center;
                 font-size: 13px;
                 padding-left: 30px;
                 padding-right: 30px;
                }
            
         }
     }

}

@media (max-width: 457px) { 

    

    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{
       
         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;
            &__div{
                gap: 0px;
            }
             
             p{
                 text-align: center;
                 padding-left: 10px;
                 padding-right: 10px;
                 font-size:12px;
                 
                
                }
        }
         
     }
     
     .menuDer{

         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;

            &__div{
                gap: 0px;
            }
     
             
             p{
                 text-align: center;
                 font-size: 12px;
                 padding-left: 10px;
                 padding-right: 10px;
                }
            
         }
     }

}

@media (max-width: 397px) {
    
  
    .imgMenu{
        width: 100%;
       
     }
     
     .menuIzq{
       
         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;

            &__div{
                gap: 0px;
            }
             
             p{
                 text-align: center;
                 padding-left: 10px;
                 padding-right: 10px;
                 font-size:10px;
                 
                
                }
        }
         
     }
     
     .menuDer{

         &__contenedor{

            padding-bottom: 50px;
            flex-direction: column;

            &__div{
                gap: 0px;
            }
     
             
             p{
                 text-align: center;
                 font-size: 10px;
                 padding-left: 10px;
                 padding-right: 10px;
                }
            
         }
     }

}


///////EQUIPO///////////

@media (max-width: 999px) { 

    .equipo{
  
        
    
        &__sec{
            margin-top: 2px;
    
            &__cont{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                
                &__p{
              
                    font-size: 30px;
                    text-align: center;
                    padding-bottom: 00px;
                    padding-left: 120px;
                    padding-right: 120px;
                }           
            }
         }
    }
     
    .equipoImg{
        width: 50%;
        height: 50%;
       
        
    }
    
   

    

}

@media (max-width: 924px) { 

    .equipo{
  
        
    
        &__sec{
            margin-top: 2px;
    
            &__cont{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                
                &__p{
              
                    font-size: 20px;
                    text-align: center;
                    padding-bottom: 00px;
                    padding-left: 50px;
                    padding-right: 50px;
                }           
            }
         }
    }
     
    .equipoImg{
        width: 50%;
        height: 50%;
       
        
    }
    
   
}

@media (max-width: 592px) { 

    .equipo{
  
        
    
        &__sec{
            margin-top: 2px;
    
            &__cont{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                
                &__p{
              
                    font-size: 15px;
                    text-align: center;
                    padding-bottom: 00px;
                    padding-left: 20px;
                    padding-right: 20px;
                }           
            }
         }
    }
     
    .equipoImg{
        width: 50%;
        height: 50%;
       
        
    }
    
  
    
    #reverse{
        display: flex;
        flex-direction: row-reverse;
    }

}

@media (max-width: 480px) { 

    .equipo{

        height: 200%;

        &__sec{
            margin-top: 2px;
    
            &__cont{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                
                &__p{
              
                    font-size: 10px;
                    text-align: center;
                    padding-bottom: 00px;
                    padding-left: 30px;
                    padding-right: 30px;
                }           
            }
         }
    }
     
    .equipoImg{
        width: 50%;
        height: 50%;
       
        
    }
    
    
    
    #reverse{
        display: flex;
        flex-direction: row-reverse;
    }

}








